<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EjercicioSprint</display-name>

	<servlet>
		<servlet-name>ListarCapacitacion</servlet-name>
		<servlet-class>modelo.CRUD.Capacitacion_CRUD.ListarCapacitacion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListarCapacitacion</servlet-name>
		<url-pattern>/ListarCapacitacion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CrearCapacitacion</servlet-name>
		<servlet-class>modelo.CRUD.Capacitacion_CRUD.CrearCapacitacion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrearCapacitacion</servlet-name>
		<url-pattern>/CrearCapacitacion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CerrarSesion</servlet-name>
		<servlet-class>controlador.CerrarSesion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CerrarSesion</servlet-name>
		<url-pattern>/CerrarSesion</url-pattern>
	</servlet-mapping>


<!-- CONFIRMACIONES -->

	<servlet>
		<servlet-name>ConfirmacionCapacitacion</servlet-name>
		<servlet-class>controlador.servlets_confirmacion.ConfirmacionCapacitacion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmacionCapacitacion</servlet-name>
		<url-pattern>/ConfirmacionCapacitacion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConfirmacionUsuario</servlet-name>
		<servlet-class>controlador.servlets_confirmacion.ConfirmacionUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmacionUsuario</servlet-name>
		<url-pattern>/ConfirmacionUsuario</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConfirmacionContacto</servlet-name>
		<servlet-class>controlador.servlets_confirmacion.ConfirmacionContacto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmacionContacto</servlet-name>
		<url-pattern>/ConfirmacionContacto</url-pattern>
	</servlet-mapping>


<!-- USUARIO -->
	<servlet>
		<servlet-name>CrearUsuario</servlet-name>
		<servlet-class>modelo.CRUD.Usuario_CRUD.CrearUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrearUsuario</servlet-name>
		<url-pattern>/CrearUsuario</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ListarUsuario</servlet-name>
		<servlet-class>modelo.CRUD.Usuario_CRUD.ListarUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListarUsuario</servlet-name>
		<url-pattern>/ListarUsuario</url-pattern>
	</servlet-mapping>


<!-- ADMINISTRATIVO -->
	<servlet>
		<servlet-name>CrearAdmin</servlet-name>
		<servlet-class>modelo.CRUD.Admin_CRUD.CrearAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrearAdmin</servlet-name>
		<url-pattern>/CrearAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditarAdmin</servlet-name>
		<servlet-class>modelo.CRUD.Admin_CRUD.EditarAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditarAdmin</servlet-name>
		<url-pattern>/EditarAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EliminarAdmin</servlet-name>
		<servlet-class>modelo.CRUD.Admin_CRUD.EliminarAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminarAdmin</servlet-name>
		<url-pattern>/EliminarAdmin</url-pattern>
	</servlet-mapping>


<!-- PROFESIONAL -->
	<servlet>
		<servlet-name>CrearProfesional</servlet-name>
		<servlet-class>modelo.CRUD.Profesional_CRUD.CrearProfesional</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrearProfesional</servlet-name>
		<url-pattern>/CrearProfesional</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditarProfesional</servlet-name>
		<servlet-class>modelo.CRUD.Profesional_CRUD.EditarProfesional</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditarProfesional</servlet-name>
		<url-pattern>/EditarProfesional</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EliminarProfesional</servlet-name>
		<servlet-class>modelo.CRUD.Profesional_CRUD.EliminarProfesional</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminarProfesional</servlet-name>
		<url-pattern>/EliminarProfesional</url-pattern>
	</servlet-mapping>


<!-- CLIENTE -->
	<servlet>
		<servlet-name>CrearCliente</servlet-name>
		<servlet-class>modelo.CRUD.Cliente_CRUD.CrearCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrearCliente</servlet-name>
		<url-pattern>/CrearCliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditarCliente</servlet-name>
		<servlet-class>modelo.CRUD.Cliente_CRUD.EditarCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditarCliente</servlet-name>
		<url-pattern>/EditarCliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EliminarCliente</servlet-name>
		<servlet-class>modelo.CRUD.Cliente_CRUD.EliminarCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminarCliente</servlet-name>
		<url-pattern>/EliminarCliente</url-pattern>
	</servlet-mapping>
</web-app>