
#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

header {
  background: #e3f4f0;
  height:150px;
  color:#000000;
}

p1 {
  font-size: 50px;
  text-align: center;
}







