@charset "UTF-8";


body {
	font-family: serif;
	background-color: #D1F2EB;
	color: #FFFFFF;
}

h1 {
	text-align: center;
	margin-top: 50px;
	color: #333333;
}

p{
    color: grey;
}

form {
	width: 50%;
	margin: 50px auto;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

label {
	display: block;
	margin-top: 10px;
	color: #333333;
}


input[type="text"], input[type="email"], textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	font-size: 16px;
	color: #333333;
	box-sizing: border-box;
}

input[type="submit"] {
	width: 100%;
	background-color: #333333;
	color: #FFFFFF;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
}

input[type="submit"]:hover {
	background-color: #555555;
}
#popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #cccccc;
	font-size: 20px;
    color: black;
}


.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px 20px;
	box-sizing: border-box;
}

input[type="text"], input[type="email"], textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	font-size: 16px;
	color: #333333;
	box-sizing: border-box;
}
.btn {
	display: inline-block;
	background-color: #3bb3e0;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1.1rem;
	margin-top: 30px;
}
.btn:hover {
	background-color: #2b96b8;
}


input[type="submit"]:hover {
	background-color: #555555;
}


/*
nav {
	background-color: #333333;
	color: #FFFFFF;
	padding: 20px;
} */

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li a {
	color: grey;
	text-decoration: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
}

nav ul li a:hover {
	background-color: #333333;
	color: #FFFFFF;
}

main {
	width: 90%;
	margin: 0 0;
}

section {
	margin-top: 50px;
	background-color: #D1F2EB;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

section h2 {
	margin-top: 0;
	color: #333333;
}

section p {
	margin-bottom: 0;
	color: #777777;
}
span{
	font-family: serif;
	text-align: center;
	margin-top: 50px;
	